@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-style: normal;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
div {
    width: 100%;
    max-width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
a {
    color: #5271FF;
}
h1, h2 {
    font-weight: normal;
}

#congratulazioni {
    color: red;
    font-family: "Anton", sans-serif;
    font-size: 28px;
}
#haiVinto {
    font-family: "Bree Serif", serif;
    font-size: 18px;
}
#caraA {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
#ilP {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    font-size: 14px;
}
#ul {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
#perR {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
#cerAu {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

/* Media Queries per dispositivi mobili */
@media only screen and (max-width: 768px) {
    div {
        width: 90%;
        max-width: 100%;
        flex-direction: column;
    }

    #congratulazioni {
        font-size: 24px;
    }

    #haiVinto {
        font-size: 16px;
    }

    #caraA, #ilP, #ul, #perR, #cerAu {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    #congratulazioni {
        font-size: 20px;
    }

    #haiVinto {
        font-size: 14px;
    }

    #caraA, #ilP, #ul, #perR, #cerAu {
        font-size: 12px;
    }
}
